.intro
  background-color: $dark
.marketing
  padding-top: 128px
  padding-bottom: 180px
  display: flex
  &__left
    padding-top: 126px
    display: flex
    flex-direction: column
    max-width: 587px
  &__titles
    padding-bottom: 15px
    padding-right: 10px
  &__title
    font-style: normal
    font-weight: 400
    font-size: 38px
    line-height: 44px
    margin: 0
    color: $white
    padding-right: 30px
    &--purple
      font-style: normal
      font-weight: 400
      font-size: 38px
      line-height: 44px
      color: $purple
  &__info
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 27px
    color: $white
    flex-basis: 75%
    padding-bottom: 30px
    padding-right: 24px
  &__input
    padding-right: 115px
    &--item
      margin-right: 15px
      padding: 10px 19px
      padding-right: 160px
      font-style: normal
      font-weight: 400
      font-size: 16px
      line-height: 24px
      color: $dark
      border: 1px solid #000000
      border-radius: 6px
      margin-bottom: 15px
    &--btn
      border-radius: 6px
      border: none
      text-align: center
      font-style: normal
      font-weight: 400
      font-size: 16px
      line-height: 24px
      color: $dark
      padding: 10px 14px
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05)
    &--crumb
      padding-right: 15px
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 18px
      color: $white
    &--link
      text-decoration: none
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 18px
      color: $purple
  &__img
    position: relative
    width: 100%
    display: flex
    flex-wrap: wrap
    &--item1
      position: absolute
      width: 350px
      height: 300px
      background-image: url(../img/window1.jpg)
      background-size: cover
      border-radius: 16px
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25))
      z-index: 3
      top: 30px
      right: 0
    &--item2
      position: absolute
      width: 350px
      height: 300px
      background-image: url(../img/window2.jpg)
      background-size: cover
      border-radius: 16px
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25))
      z-index: 2
      top: 277px
      right: 3%
    &--item3
      position: absolute
      width: 350px
      height: 300px
      background-image: url(../img/window3.jpg)
      background-size: cover
      border-radius: 16px
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25))
      z-index: 1
      top: 150px
      right: 39%
.used
  padding-bottom: 80px
  &__title
    text-align: center
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 27px
    color: $white
    padding-bottom: 10px
  &__by
    display: flex
    justify-content: center
    align-items: center
    &--logo
      padding-right: 48px
.features
  padding-top: 128px
  display: flex
  &__img
    position: relative
    padding-top: 60px
    margin-right: 80px
    width: 100%
    height: 100%
    &--item1
      position: absolute
      height: 231px
      width: 327px
      border-radius: 16px
      z-index: 2
      margin-top: 209px
      margin-left: 270px
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25))
    &--item2
      position: absolute
      height: 345px
      width: 327px
      border-radius: 16px
      z-index: 1
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25))
  &__item
    display: flex
    flex-direction: column
  &__title
    width: 119px
    margin: 0
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: $dark
    text-align: center
    background: rgba(255, 193, 71, 0.6)
    border: 2px solid $yellow
    border-radius: 100px
  &__text
    padding-top: 30px
    width: 545px
    padding-bottom: 17px
    &--dark
      font-style: normal
      font-weight: 700
      font-size: 32px
      line-height: 35px
      color: $dark
    &--yellow
      font-style: normal
      font-weight: 700
      font-size: 32px
      line-height: 35px
      color: $yellow
  &__lorem
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: $dark
    margin: 0
  &__capabities
    padding-top: 30px
    display: flex
    flex-wrap: wrap
    max-width: 600px
    &--item
      width: 288px
      padding-right: 25px
      padding-bottom: 24px
    &--logo
      width: 24px
      height: 24px
    &--titles
      padding-bottom: 12px
    &--title
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 24px
      padding-left: 16px
      color: $yellow
    &--text
      margin: 0
      font-style: normal
      font-weight: 400
      font-size: 14px
      line-height: 21px
      color: $dark
      padding-left: 45px
